$font-color: #333;
$primary-color: #fd8f27;
$sub-color-1: #ddba8a;
$sub-color-2: #bd3a5e;
$sub-color-3: #221523;

$bg-color-1: #f6eede;

$mono-color-950: #262626;
$mono-color-900: #333;
$mono-color-800: #454545;
$mono-color-700: #4f4f4f;
$mono-color-600: #5d5d5d;
$mono-color-500: #6d6d6d;
$mono-color-400: #888;
$mono-color-300: #b0b0b0;
$mono-color-200: #d1d1d1;
$mono-color-100: #e7e7e7;
$mono-color-50: #f6f6f6;

$white: #f5f5f5;

